<%= render 'layouts/vheader' %>
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
    <h1>New Announcment</h1>
    <%= render 'form' %>
    <%= link_to 'Back', announcements_path %>
        </div>
      </div>
    </div>
 
